.inputContainer {
  border: 2px solid #e8e8e8;
  border-radius: 10px;
  padding: 8px;
  width: auto;
  background: #f6f6f6;
  margin-bottom: 25px;
}

.input {
  border: none;
  background: none;
  width: auto;
  height: 50px;
  outline: none;
  font-size: 18px;
}
